<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fawaid_elbenaa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.fawaid_elbenaa.share.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities_fragments.activity_packages.PackagesActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_sponsor.SponsorActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_map.MapActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_guide_detials.GuideDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_add_guide.AddGuideActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.fawaid_elbenaa.activities_fragments.activity_comments.CommentsActivity"></activity>
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_departments.DepartmentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_profile_products.ProfileProductsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_google.activity_shop_query.ShopsQueryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_google.activity_shop_map.ShopMapActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_filter.FilterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_detilas.NewsDetialsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_chat_admin.ChatAdminActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_chat_us.ChatUsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_chat.ChatActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_web_view.WebViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_language.LanguageActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_setting.SettingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_contact_us.ContactUsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_notification.NotificationActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_commission.CommissionActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_my_favorite.MyFavoriteActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_my_ads.MyAdsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activite_swear.SwearActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_coupon_details.CouponDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_my_coupon.MyCouponsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_add_coupon.AddCouponActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_add_ads.AddAdsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_product_details.ProductDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fawaid_elbenaa.motaweron.com"
                    android:pathPrefix="/api/product_details/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_department_details.DepartmentDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_home.HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_verification_code.VerificationCodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_sign_up.SignUpActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_login.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.fawaid_elbenaa.activities_fragments.activity_splash.SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_fragments.activity_pay.PayActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <service android:name="com.fawaid_elbenaa.activities_fragments.activity_chat.ServiceUploadAttachment" />
        <service android:name="com.fawaid_elbenaa.activities_fragments.activity_chat_admin.ServiceUploadAttachmentAdmin" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".notifications.FireBaseNotifications"
            android:exported="false"
            android:stopWithTask="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notifications.BroadcastCancelNotification"/>
    </application>

</manifest>